*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.is-secondary{
    background-color: #FFE600;
    color: black;
}

.opening{
    width: 50%;
    height: 100vh;
}

.logo{
    height: 50%;
    width: 50%;
    border-radius: 15%;
}