img{
    height: 40px;
    width: 40px;
    border-radius: 15%;
}

.is-full-width{
    width: 97vw;
    left:-3.5rem;
}

.is-one-quarter-width{
    width:25vw;
}

.is-three-quarters-width{
    width:75vw;
}


.is-tertiary{
    background-color: #808cff;
}

// .design{
//     background-color: #FFE600;
//   background-image: -webkit-linear-gradient( -28deg, #FFE600 0%, #FFE600 60%, #00C4A7 60%, #00C4A7 60%);
//   background-image: linear-gradient( -28deg, #FFE600 0%, #FFE600 60%, #00C4A7 60%, #00C4A7 60%);
// }
